.Central {
  &__page {
    height: 100vh;
    margin-left: 1%;
    margin-right: 2%;
    font-style: normal;
    font-family:
      'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #4b0055;

    &__title {
      margin-top: 1.67rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 2.7em;
      text-align: center;
      font-family: American Typewriter, serif;
    }

    &__footer {
      font-weight: bold;
      font-size: 80%;
      text-align: left;

      &__release {
        text-transform: uppercase;
        font-family: American Typewriter, serif;
      }

      &__copyright {
        margin-top: 1.67rem;
        font-weight: normal;
      }
    }
  }
}
